/* Start Variables */
:root {
    --main-color: #19c8fa;
    --paragraph: #777;
    --transparent-color: rgb(15 116 143 / 70%);
    --transition-time: .3s;
    --secondary-family: 'Dosis', sans-serif;
    --section-padding: 100px;
}

/* End Variables */

/* Start Components */

.main-heading {
    text-align: center;
}

.main-heading h2 {
    font-size: 40px;
    font-weight: normal;
    letter-spacing: 1.2px;
    margin-bottom: 80px;
    position: relative;
    text-transform: uppercase;
}

.main-heading h2:after {
    content: "";
    position: absolute;
    width: 120px;
    height: 2px;
    background-color: black;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
}

.main-heading h2::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid black;
    bottom: -47.5px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.main-heading p {
    max-width: 500px;
    font-size: 22px;
    font-family: var(--secondary-family);
    color: #777;
    margin: 0 auto 80px;
    line-height: 1.6;
}

/* End Components */

/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

.container {
    padding: 0px 15px;
    margin: 0px auto;
}

/* Small Screens */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium Screens */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large Screens */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* End Global Rules */

/* Start Styling Of The Header */
header {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
}

header .container {
    min-height: 97px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

header .container::before {
    content: "";
    position: absolute;
    background-color: #fff;
    height: 1px;
    width: calc(100% - 30px);
    bottom: 0;
    left: 15px;
}

header .container .logo img {
    height: 40px;
}

header .container nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header .container nav .toggle {
    color: white;
    font-size: 22px;
}

@media (min-width: 767px) {
    header .container nav .toggle {
        display: none;
    }
}

header .container nav ul {
    display: flex;
}

header .container nav ul li a {
    padding: 40px 15px;
    display: block;
    color: white;
    text-decoration: none;
    font-size: 14px;
    position: relative;
    z-index: 2;
    transition: var(--transition-time);
    cursor: pointer;
}


@media (max-width: 767px) {

    header .container nav ul {
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
    }

    header .container nav .toggle:hover+ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
    }

    header .container nav ul li a {
        padding: 15px;
        transition: var(--transition-time);
    }
}

header .container nav ul li a.active,
header .container nav ul li a:hover {
    border-bottom: 1px solid var(--main-color);
    color: var(--main-color);
}

header .container .form {
    width: 40px;
    height: 30px;
    margin-left: 40px;
    border-left: 1px solid #fff;
    position: relative;
}

header .container .form i {
    color: white;
    font-size: 18px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

/* End Styling Of The Header */

/* Start Of Landing Styling */
.landing-space {
    height: 100vh;
    background-color: rgb(0 0 0 / 60%);
    background-image: url(../images/landing.jpg);
    background-size: cover;
    position: relative;
}

@media (max-width: 767px) {
    .landing-space {
        background-color: black;
        background-size: contain;
        background-repeat: no-repeat;
    }
}

.landing-space .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgb(0 0 0 / 60%);
}

.landing-space .text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: var(--transparent-color);
    width: 50%;
    padding: 50px;
    color: white;
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 767px) {
    .landing-space .text {
        width: 100%;
    }
}

.landing-space .text .content {
    max-width: 75%;
}

@media (max-width: 767px) {
    .landing-space .text .content {
        max-width: 100%;
    }
}

.landing-space .text .content h2 {
    font-size: 30px;
    font-weight: normal;
    line-height: 1.4;
    margin-bottom: 35px;
}

.landing-space .text .content p {
    font-family: var(--secondary-family);
    font-size: 20px;
    line-height: 1.6;
    color: #dadada;
}

.landing-space .text .content p span {
    color: var(--main-color);
}

@media (max-width: 767px) {
    .landing-space .text .content h2 {
        font-size: 23px;
        font-weight: normal;
        line-height: 1.4;
        margin-bottom: 35px;
    }

    .landing-space .text .content p {
        font-size: 17px;
        line-height: 1.6;
        color: #dadada;
    }
}

.landing-space .change-background.left,
.landing-space .change-background.right {
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 25px;
}

@media (max-width: 767px) {

    .landing-space .change-background.left,
    .landing-space .change-background.right {
        display: none;
    }
}

.landing-space .change-background.left {
    left: 30px;
}

.landing-space .change-background.right {
    right: 30px;
}

.landing-space .circles {
    width: 100px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translatex(-50%);
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;

}

.landing-space .circles li {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #dadada;
}

.landing-space .circles li.active {
    background-color: var(--main-color);
}

/* End Of Landing Styling */

/* Start Services Styling */
.services {
    padding: var(--section-padding) 0px;
}

@media (min-width: 767px) {
    .services .services-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
        grid-column-gap: 50px;
        grid-row-gap: 60px;
    }
}

.services .services-container .srv-box {
    display: flex;
    margin-bottom: 60px;
}

.services .services-container .srv-box:last-child {
    margin-bottom: 0;
}

.services .services-container .srv-box i {
    font-size: 35px;
    color: var(--transparent-color);
    margin-right: 35px;
}

.services .services-container .srv-box .text h3 {
    font-size: 24px;
    color: var(--transparent-color);
    margin-bottom: 20px;
}

.services .services-container .srv-box .text p {
    line-height: 1.6;
    color: var(--paragraph);
}

/* End Services Styling */

/* Start Design Styling */
.design {
    padding: var(--section-padding) 0px;
    height: 800px;
    background-color: black;
    background-image: url(../images/art.jpg);
    background-size: cover;
    position: relative;
}

.design::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);
    z-index: 1;
    top: 0;
}

.design .text {
    color: white;
    position: absolute;
    z-index: 2;
    background-color: var(--transparent-color);
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 40%;
    width: 50%;
    padding: 60px;
}

.design .text h3 {
    font-size: 28px;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 30px;
    color: var(--main-color);
}

.design .text ul .icon-text {
    display: flex;
    position: relative;
    margin-bottom: 20px;
}

.design .text ul .icon-text li {
    font-size: 18px;
    position: absolute;
    left: 50px;
    top: -5px;
}

@media (max-width: 991px) {
    .design .text {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .design {
        background-size: contain;
    }

    .design .text {
        height: 50%;
    }

    .design .text ul {
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

/* End Design Styling */

/* Start Of Portfolio Styling */
.portfolio {
    padding: var(--section-padding) 0;
}

.portfolio .sections {
    width: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    cursor: pointer;
}

.portfolio .sections .active {
    position: relative;
    color: white;
    margin-right: 10px;
}

.portfolio .sections .active::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--transparent-color);
    z-index: -1;
}

.portfolio .images {
    display: flex;
    flex-wrap: wrap;
}

.portfolio .images .img {
    height: 300px;
    transition-duration: .6s;
    transition-timing-function: linear;
    position: relative;
}

@media (min-width: 768px) {
    .portfolio .images .img {
        width: 50%;
    }
}

@media (min-width: 1199px) {
    .portfolio .images .img {
        width: 25%;
    }
}

@media (max-width:767px) {
    .portfolio .images .img {
        width: 100%;
    }
}

.portfolio .images .img p {
    position: absolute;
    bottom: 6%;
    left: 10%;
    font-size: 18px;
    font-weight: 500;
    z-index: -1;
}

.portfolio .images .img:hover img {
    height: 80%;
}

.portfolio .images .img img {
    width: 100%;
    height: 100%;
}

.portfolio .button {
    position: relative;
    margin: 50px 0 100px;
}

.portfolio .button p {
    width: 100px;
    background-color: var(--transparent-color);
    padding: 20px;
    color: white;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    cursor: pointer;
}

/* End Of Portfolio Styling */

/* Start Of video ssection Styling */
.video {
    position: relative;
}

.video video {
    width: 100%;
}

.video::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(0 0 0 / 40%);
}

.video .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 100%;
    min-height: fit-content;
    max-width: 100%;
    text-align: center;
    background-image: linear-gradient(to bottom, #614058b3, #9d7f9454, #c76fa624, #22232361);
}

.video .text h3 {
    margin: 60px 0;
    font-weight: normal;
    font-size: 24px;
    text-transform: capitalize;
}

.video .text a {
    background-color: black;
    display: block;
    width: 100px;
    margin: 50px auto;
    padding: 15px 11px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
}

@media (max-width: 700px) {
    .video {
        display: none;
    }
}

/* End Of video ssection Styling */